body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row {
  display: table;
}

.board-row:after {
  clear: both;
  content: "";
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.selected-move {
  background-color: black;
  color: whitesmoke;
}

.sort {
  padding: 6px 10px;
  background-color: #303030;
  color: whitesmoke;
  width: 120px;
  margin: 10px 30px;
  border-radius: 5px;
}

.winner-square {
  background-color: #303030;
  color: whitesmoke;
}
